.main {
  color: #575757;
  font-family: "Roboto", sans-serif !important;
  margin: -0.6vw;
}

.tag {
  background-image: url(https://appcartsystems.com/img/footer_bg.png);
  height: 21vh;
  align-items: center;
  justify-content: start;
  display: flex;
  color: #fff;
  font-size: 1.5vw;
  padding-left: 2vw;
  position: relative;
  top: 5vw;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 10vw;
    gap: 10vw;
}

.products .container {
    width: 35vw;
    text-align: center;
}

.products .container .desc {
    text-align: justify;
    font-size: 1.3vw;
    line-height: 2vw;
    text-align: justify;
    font-size: 1.3vw;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.products .container a {
    text-decoration: none;
    border: .1vw solid #FF0000;
    border-radius: 2vw;
    padding: 1vw;
    color: #FF0000;
    position: relative;
    top: 2vw;
    font-size: 1vw;
    cursor: pointer;
}
